.complex-body {
  background-color: #fff;
}

.global-header {
  border-bottom: solid 1px #e0e0e1;
}

.complex-separation-line {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #e0e0e1;
}

.complex-apartment-header {
  background-color: #fff;
}

.complex-apartment-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.complex-apartment-header-info-wrapper {
  padding-top: 24px;
  padding-bottom: 16px;
}

.complex-apartment-header-title {
  font-family: "Philosopher";
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #3e4247;
  margin: 0 auto;
}

.complex-apartment-header-geo {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #a9afb6;
}

.complex-apartment-header-favourites-button {
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 56px;
  padding: 8px 16px;
  border-radius: 2px;
	border: solid 1px #e0e0e1;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #00779a;
  font-weight: 300;
}

.complex-carousel-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-start;
  overflow: scroll;
}

.complex-carousel-image {
  height: 400px;
}

.complex-carousel-button {
  position: absolute;
  padding: 8px 16px;
  margin-top: -42px;
  border-radius: 2px;
  border: 0;
  background-color: #00779a;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.0;
  color: #fff;
}

.complex-summary {
  display: flex;
  justify-content: flex-start;
}

.complex-summary-heading {
  display: block;
  margin: 24px 0 24px 48px;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #3e4247;
}

.complex-summary-heading:first-child {
  margin-left: 0;
}

.complex-summary-small {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}

.complex-features {
  margin-top: 32px;
}

.complex-features-title,
.complex-description-title,
.complex-infrastructure-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  margin: 0 auto;
}

.complex-feature-records {
  margin-top: 16px;
}

.complex-feature {
  display: flex;
  margin-top: 8px;
  margin-bottom: 0;
}

.complex-feature-record:first-child {
  margin-top: 0;
}

.complex-feature-name {
  width: 50%;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #a9afb6;
}

.complex-feature-value {
  width: 50%;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #3e4247;
  margin-left: 48px;
}

.complex-description {
  margin-top: 48px;
}

.complex-description-wrapper {
  display: flex;
}

.complex-description-text {
  white-space: pre-line;
  text-indent: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  margin-left: 91px;
  margin-bottom: 24px;
  color: #3e4247;
}

.complex-infrastructure {
  margin-top: 32px;
  margin-bottom: 64px;
}

.complex-infrastructure-content {
  margin-top: 16px;
}

.complex-infrastructure-row-wrapper {
  margin-top: 8px;
}

.complex-infrastructure-row-wrapper:first-child {
  margin-top: 0;
}

.complex-infrastructure-record {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 0;
}

.complex-offers {
  background-color: #f4f5f9;
}

.complex-offers-title {
  padding-top: 64px;
  text-align: center;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  margin: 0 auto;
}

.complex-offers-cards {
  padding-top: 24px;
  padding-bottom: 64px;
}

.complex-offers-card {
  display: flex;
  flex-flow: column;
  background-color: #fff;
}

.complex-offers-card-title {
  font-family: "Philosopher";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 24px 32px 0 32px;
  color: #3e4247;
}

.complex-offers-card-param-record {
  display: flex;
  flex-flow: column;
  margin: 24px 32px 0 32px;
}

.complex-offers-card-param-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-offers-card-param-value {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #3e4247;
  margin-top: 8px;
  margin-left: 0;
}

.complex-offers-card-button {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.0;
  border-style: none;
  border-radius: 2px;
  padding: 12px 32px;
  margin: 32px 64px 24px 64px;
}

.complex-nearby {
  background-color: #3e4247;
}

.complex-nearby-wrapper {
  display: flex;
}

.complex-nearby-info-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-right: 16px;
}

.complex-nearby-info-subtitle {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  color: #a9afb6;
  margin-top: 181px;
  margin-bottom: 0;
}

.complex-nearby-info-title {
  font-family: "Philosopher";
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 0;
}

.complex-nearby-info-link {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: #00779a;
  text-decoration: none;
  margin-top: 48px;
}

.complex-nearby-image {
  width: 100%;
  height: 560px;
  margin-top: 64px;
  margin-bottom: 218px;
}

.complex-directions-wrapper {
  display: flex;
  margin-top: -153px;
  margin-bottom: 64px;
}

.complex-directions-map {
  height: 306px;
  width: 583px;
  flex: 1 1 0;
  margin-right: 8px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
}

.complex-directions-places {
  display: flex;
  flex-flow: column;
  flex: 1 1 0;
  margin-left: 8px;
  border: solid 1px #e0e0e1;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
  padding: 0;
}

.complex-directions-places-separation-line {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #e0e0e1;
}

.complex-directions-places-place {
  padding: 24px;
  background-color: #fff;
}

.complex-directions-place-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #3e4247;
}

.complex-directions-place-value {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
  margin-left: 0;
  margin-top: 8px;
}
