body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.complexes-body {
  background: url("./img/background.png");
  background-size: 1%;
  background-color: #eaebf0;
  background-repeat: repeat;
}

.global-header {
  background: #fff;
}

.global-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.global-header-nav {
  display: flex;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.global-header-nav-link {
  color: #3e4247;
  text-decoration: none;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  margin: 0 16px;
  line-height: 1.0;
  text-align: center;
  vertical-align: middle;
}

.global-header-nav-link:first-child {
  margin-left: 0;
  margin-right: 16px;
}

.global-header-nav-link:last-child {
  margin-left: 16px;
  margin-right: 0;
}

.global-header-compass-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.compass-development-block {
  display: flex;
  background: #161616;
}

.compass-development-logo {
  width: 419px;
	height: 131px;
  margin: 80px auto;
}

.intro {
  margin-top: 64px;
}

.intro-title {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #3e4247;
}

.intro-text {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 8px 200px 0 200px;
  line-height: 1.5;
  color: #3e4247;
}

.intro-contact-team {
  text-align: center;
  margin-top: 16px;
}

.intro-contact-team-button {
  background-color: #000;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 13px 31px;
  border-style: none;
  border-radius: 2px;
}

.intro-contact-team-button:hover {
  background-color: #404040;
}

.cards {
  display: flex;
  flex-flow: column;
  margin: 64px 128px;
}

.card {
  display: flex;
  background: #fff;
  text-decoration: none;
  margin-bottom: 48px;
  border-bottom: solid 2px #646971;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.card-thumbnail {
  width: 484px;
  height: 350px;
}

.card-content {
  display: flex;
  flex-flow: column;
  padding: 24px 32px;
}

.card-geo {
  color: #646971;
  font-family: Monaco;
  margin: 0;
}

.card-title {
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin-top: 24px;
}

.card-info {
  color: #3E4247;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.footer {
  background-color: #111;
}

.grid-wrapper {
  padding-top: 32px;
  padding-bottom: 28px;
  background: #111;
}

.footer-line {
  height: 2px;
  border-style: none;
  background-color: #3e4247;
  margin: 0;
}

.footer-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #646971;
  margin-top: 16px;
}

.footer-credentials-title {
  margin: 0;
}

.footer-credentials {
  margin-top: 8px;
  margin-bottom: 0;
}

.footer-credentials:last-child {
  margin-top: 16px;
}

.footer-link,
.footer-credentials {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 8px;
}

.footer-credentials {
  color: #a9afb6;
}

.footer-all-apartment-link {
  margin-top: 16px;
}

.footer-legal {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  color: #a9afb6;
  margin-top: 96px;
}

/* complex page styles */

.complexes-body {
  background-color: #fff;
}

.separation-line {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #e0e0e1;
}

.apartment-header {
  background-color: #fff;
}

.apartment-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.apartment-header-info-wrapper {
  padding-top: 24px;
  padding-bottom: 16px;
}

.apartment-header-title {
  font-family: "Philosopher";
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #3e4247;
  margin: 0 auto;
}

.apartment-header-geo {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #a9afb6;
}

.apartment-header-favourites-button {
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 56px;
  padding: 8px 16px;
  border-radius: 2px;
	border: solid 1px #e0e0e1;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #00779a;
  font-weight: 300;
}

.carousel-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-start;
  overflow: scroll;
}

.carousel-image {
  height: 400px;
}

.carousel-button {
  position: absolute;
  padding: 8px 16px;
  margin-top: -42px;
  border-radius: 2px;
  border: 0;
  background-color: #00779a;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.0;
  color: #fff;
}

.summary {
  display: flex;
  justify-content: flex-start;
}

.summary-header {
  display: block;
  margin: 24px 0 24px 48px;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #3e4247;
}

.summary-header:first-child {
  margin-left: 0;
}

.summary-small {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}

.features {
  margin-top: 32px;
}

.features-title,
.description-title,
.infrastructure-title {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  margin: 0 auto;
}

.feature-records {
  margin-top: 16px;
}

.feature-record {
  display: flex;
  margin-top: 8px;
  margin-bottom: 0;
}

.feature-record:first-child {
  margin-top: 0;
}

.feature-name {
  width: 50%;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #a9afb6;
}

.feature-value {
  width: 50%;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #3e4247;
  margin-left: 48px;
}

.description {
  margin-top: 48px;
}

.description-wrapper {
  display: flex;
}

.description-text {
  white-space: pre-line;
  text-indent: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  margin-left: 91px;
  margin-bottom: 24px;
  color: #3e4247;
}

.infrastructure {
  margin-top: 32px;
  margin-bottom: 64px;
}

.infrastructure-wrapper {
  margin-top: 16px;
}

.infrastructure-row-wrapper {
  margin-top: 8px;
}

.infrastructure-row-wrapper:first-child {
  margin-top: 0;
}

.infrastructure-record {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3e4247;
  margin-top: 0;
  margin-bottom: 0;
}

.offers {
  background-color: #f4f5f9;
}

.offers-title {
  padding-top: 64px;
  text-align: center;
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  margin: 0 auto;
}

.offers-cards-wrapper {
  padding-top: 24px;
  padding-bottom: 64px;
}

.offers-card {
  display: flex;
  flex-flow: column;
  background-color: #fff;
}

.offers-card-title {
  font-family: "Philosopher";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 24px 32px 0 32px;
  color: #3e4247;
}

.offers-card-param-record {
  display: flex;
  flex-flow: column;
  margin: 24px 32px 0 32px;
}

.offers-card-param-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
}

.offers-card-param-value {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #3e4247;
  margin-top: 8px;
  margin-left: 0;
}

.offers-card-button {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.0;
  border-style: none;
  border-radius: 2px;
  padding: 12px 32px;
  margin: 32px 64px 24px 64px;
}

.nearby {
  background-color: #3e4247;
}

.nearby-wrapper {
  display: flex;
}

.nearby-info-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-right: 16px;
}

.nearby-info-subtitle {
  font-family: "Philosopher";
  font-size: 24px;
  font-weight: bold;
  color: #a9afb6;
  margin-top: 181px;
  margin-bottom: 0;
}

.nearby-info-title {
  font-family: "Philosopher";
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
  color: #fff;
  margin-top: 48px;
  margin-bottom: 0;
}

.nearby-info-link {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: #00779a;
  text-decoration: none;
  margin-top: 48px;
}

.nearby-image {
  width: 583px;
  height: 560px;
  margin-top: 64px;
  margin-bottom: 218px;
}

.geo-wrapper {
  display: flex;
  margin-top: -153px;
  margin-bottom: 64px;
}

.geo-map {
  height: 306px;
  width: 583px;
  flex: 1 1 0;
  margin-right: 8px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
}

.geo-places {
  display: flex;
  flex-flow: column;
  flex: 1 1 0;
  margin-left: 8px;
  border: solid 1px #e0e0e1;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
  padding: 0;
}

.geo-places-separation-line {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #e0e0e1;
}

.geo-places-place {
  display: flex;
  flex-flow: column;
  padding: 24px;
  background-color: #fff;
}

.geo-place-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #3e4247;
}

.geo-place-value {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
  margin-left: 0;
  margin-top: 8px;
}
