body {
  background: url('./img/background.png');
  background-size: 2%;
  background-color: #EAEBF0;
  background-repeat: repeat;
}

.header {
  display: flex;
  background: white;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  line-height: 16px;
  margin: 20px 120px 20px 0;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link {
  color: #3E4247;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 16px 0 16px;
  line-height: 1.0;
  text-align: center;
  vertical-align: middle;
}

.header-nav-link:first-child {
  margin: 0 16px 0 0;
}

.header-nav-link:last-child {
  margin: 0 0 0 16px;
}

.header-compass-logo {
  margin: 20px 0 20px 120px;
}

.compass-development-block {
  display: flex;
  background: #161616;
}

.compass-development-logo {
  width: 418.9px;
	height: 131px;
  margin: 80px 511px;
}

.intro {
  margin-top: 64px;
}

.intro-title {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 4px 0;
  color: #3E4247;
}

.intro-text {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 4px 325px 0 325px;
  line-height: 1.5;
  color: #3E4247;
}

.intro-contact-team {
  text-align: center;
  margin: 16px 0 0 0;
}

.intro-contact-team-button {
  background-color: black;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 13px 31px;
  border-style: none;
  border-radius: 2px;
}

.intro-contact-team-button:hover {
  background-color: #404040;
}

.cards {
  display: flex;
  flex-flow: column;
  margin: 64px 120px;
}

.card {
  display: flex;
  background: white;
  text-decoration: none;
  margin: 0 0 48px 0;
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.card-content {
  display: flex;
  flex-flow: column;
  padding: 24px 32px 0 32px;
}

.card-geo {
  color: #646971;
  font-family: Monaco;
  margin: 0;
}

.card-title {
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin: 24px 0 0 0;
}

.card-info {
  color: #3E4247;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 0 0;
}

.footer {
  color: #111111;
}
