body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}

.complexes-body {
  background: url("./img/background.png");
  background-size: 1%;
  background-color: #eaebf0;
  background-repeat: repeat;
}

.global-header {
  background: #fff;
}

.global-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.global-header-nav {
  display: flex;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.global-header-nav-link {
  color: #3e4247;
  text-decoration: none;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  margin: 0 16px;
  line-height: 1.0;
  text-align: center;
  vertical-align: middle;
}

.global-header-nav-link:first-child {
  margin-left: 0;
  margin-right: 16px;
}

.global-header-nav-link:last-child {
  margin-left: 16px;
  margin-right: 0;
}

.global-header-compass-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.compass-development-block {
  display: flex;
  background: #161616;
}

.compass-development-logo {
  width: 419px;
	height: 131px;
  margin: 80px auto;
}

.intro {
  margin-top: 64px;
}

.intro-content {
  display: flex;
  justify-content: center;
}

.intro-title {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #3e4247;
}

.intro-text {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 1.5;
  color: #3e4247;
}

.intro-contact-team {
  text-align: center;
  margin-top: 16px;
}

.intro-contact-team-button {
  background-color: #000;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 13px 31px;
  border-style: none;
  border-radius: 2px;
}

.intro-contact-team-button:hover {
  background-color: #404040;
}

.cards {
  display: flex;
  flex-flow: column;
  margin: 64px 128px;
}

.card {
  display: flex;
  background: #fff;
  text-decoration: none;
  margin-bottom: 48px;
  border-bottom: solid 2px #646971;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.card-thumbnail {
  width: 484px;
  height: 350px;
}

.card-content {
  display: flex;
  flex-flow: column;
  padding: 24px 32px;
}

.card-geo {
  color: #646971;
  font-family: Monaco;
  margin: 0;
}

.card-title {
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin-top: 24px;
  margin-bottom: 0;
}

.card-info {
  color: #3E4247;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 28px;
  background-color: #111;
}

.footer-line {
  height: 2px;
  border-style: none;
  background-color: #3e4247;
  margin: 0;
}

.footer-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #646971;
  margin-top: 16px;
}

.footer-credentials-title {
  margin: 0;
}

.footer-credentials {
  margin-top: 8px;
  margin-bottom: 0;
}

.footer-credentials:last-child {
  margin-top: 16px;
}

.footer-link,
.footer-credentials {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  margin-top: 8px;
}

.footer-credentials {
  color: #a9afb6;
}

.footer-all-apartment-link {
  margin-top: 16px;
}

.footer-legal {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  color: #a9afb6;
  margin-top: 96px;
}
